.header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.header .text {
  margin-top: 20px;
}
.header .line {
  margin-top: 20px;
  border: 1px solid gray;
}
.gallery__foryou {
  margin-top: 10px;
}

.gallery__recommend {
  margin-top: 10px;
}
/* button */

.memories__group {
  color: #fff;
  background: rgba(200, 16, 46, 0.65);
  box-shadow: 10px 10px 40px rgba(51, 63, 72, 0.25);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: fixed;
  width: 300px;
  bottom: 5%;
  right: 0;
  padding: 10px 3px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transform: translateX(250px);
}

.memories__group li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.memories__group .action_group {
  display: flex;
  flex-direction: column;
}

.player {
  width: 54px;
  height: 54px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.player img {
  position: absolute;
  top: 25%;
  left: 24%;
}

.action_group .action_icons {
  width: 200px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.action_group .action_text {
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.playerActive {
  transform: translateX(0);
  transition: transform 1s ease-in-out !important;
}

.spinPlayer {
  transform: rotate(360deg);
  transition: transform 1.3s;
}
