.header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.header .text {
  margin-top: 20px;
}
.header .line {
  margin-top: 20px;
  border: 1px solid gray;
}
.gallery__foryou {
  margin-top: 10px;
}

.gallery__recommend {
  margin-top: 10px;
}
/* button */

.icon__player {
  margin-left: 10px;
  width: 54px;
  height: 54px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}
.icon__player img {
  position: absolute;
  top: 25%;
  left: 25%;
}

.button__group {
  color: #fff;
  background: rgba(200, 16, 46, 0.65);
  box-shadow: 10px 10px 40px rgba(51, 63, 72, 0.25);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 270px;
  height: 72px;
  position: absolute;
  right: 0;
  bottom: 7%;
}
.button__group .icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 72px;
  text-align: center;
}

.icon__group {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
